Repository Singularity-development/finarbo, changes with the labels that .github/labeler.yml gives for each.
All labels: api, web, repo-config

rename
  client/package-lock.json
  client/src/app.tsx
  client/src/features/portfolio/components/analyze-button.tsx
  client/src/features/portfolio/components/cards/assets-card.tsx
  client/src/features/portfolio/components/cards/portfolio-card.tsx
  client/src/features/portfolio/components/cards/rule-result-card.tsx
  client/src/features/portfolio/components/table/asset-badge.tsx
  client/src/features/portfolio/components/table/asset-market.tsx
  client/src/features/portfolio/components/table/asset-name.tsx
  client/src/features/portfolio/components/table/asset-result.tsx
  client/src/features/portfolio/components/table/asset-table.tsx
  client/src/features/portfolio/components/table/empty-state.tsx
  client/src/features/portfolio/portfolio-header.tsx
  client/src/features/portfolio/portfolio.tsx
  client/src/features/risks/detail/risk-advices.tsx
  client/src/features/risks/detail/risk-detail.tsx
  client/src/features/risks/detail/risk-quotes.tsx
  client/src/features/risks/risks.tsx
  client/src/features/routes.tsx
  client/src/services/apis/analysis/analysis.api.ts
Labels: web

WIP
  api/src/modules/analysis/analysis.controller.ts
  api/src/modules/analysis/analysis.service.ts
  api/src/modules/analysis/rules/crypto/alternative-crypto-rule.service.ts
  api/src/modules/analysis/rules/crypto/shit-coin-rule.service.ts
  api/src/modules/analysis/rules/market/asset-concentration-rule.service.ts
  api/src/modules/analysis/rules/market/asset-type-concentration-rule.service.ts
  api/src/modules/analysis/rules/market/devaluation-rule.service.ts
  api/src/modules/analysis/rules/market/public-risk-rule.service.ts
  api/src/modules/analysis/rules/result.ts
  api/src/modules/analysis/rules/rule.ts
  api/src/modules/analysis/rules/rules.service.ts
  api/src/modules/portfolio/dtos/asset.dto.ts
  api/src/modules/portfolio/models/asset.ts
  api/src/modules/portfolio/models/portfolio.ts
  client/public/locales/en-US/global.json
  client/public/locales/en-US/portfolio.json
  client/public/locales/es-ES/global.json
  client/public/locales/es-ES/portfolio.json
  client/public/locales/es-ES/risks.json
  client/public/locales/es-ES/rules.json
  client/src/components/ui/footer.tsx
  client/src/features/portfolio/components/cards/rule-result-card.tsx
  client/src/features/portfolio/portfolio.tsx
  client/src/features/risks/detail/asset-table.tsx
  client/src/features/risks/detail/risk-advices.tsx
  client/src/features/risks/detail/risk-detail.tsx
  client/src/features/risks/detail/risk-quotes.tsx
  client/src/features/risks/risks.tsx
  client/src/layout/grid.tsx
  client/src/layout/root-layout.tsx
  client/src/services/apis/analysis/analysis.api.ts
  client/src/services/apis/analysis/rule.model.ts
  client/src/services/apis/portfolio/portfolio.model.ts
  client/vite.config.ts
Labels: api, web

add dockerfile
  api/.dockerignore
  api/.gitignore
  api/Dockerfile
  api/package.json
Labels: api

WIP
  api/.env.example
  api/.gitignore
  api/package.json
  api/src/app.controller.ts
  api/src/app.module.ts
  api/src/auth/auth.controller.ts
  api/src/auth/auth.guard.ts
  api/src/auth/auth.module.ts
  api/src/auth/auth.service.ts
  api/src/auth/device/device.model.ts
  api/src/auth/device/device.module.ts
  api/src/auth/device/device.service.ts
  api/src/auth/token/token.model.ts
  api/src/auth/token/token.module.ts
  api/src/auth/token/token.service.ts
  api/src/auth/users/user.dto.ts
  api/src/auth/users/user.model.ts
  api/src/auth/users/users.module.ts
  api/src/auth/users/users.service.ts
  api/src/common/config/database.config.ts
Labels: api

config db
  api/docker/.env.example
  api/docker/postgresql.yml
  api/package-lock.json
  api/package.json
  api/src/app.module.ts
  api/src/auth/token/token.module.ts
  api/src/common/config/database.config.ts
  api/src/config/data-base.config.ts
  api/src/config/swagger.config.ts
  api/src/main.ts
Labels: api

create entities
  api/src/auth/auth.service.ts
  api/src/auth/device/device.entity.ts
  api/src/auth/device/device.module.ts
  api/src/auth/device/device.service.ts
  api/src/auth/token/token.entity.ts
  api/src/auth/token/token.module.ts
  api/src/auth/token/token.service.ts
  api/src/auth/users/user.entity.ts
  api/src/auth/users/users.module.ts
  api/src/auth/users/users.service.ts
  api/src/config/data-base.config.ts
  api/src/config/data-source.config.ts
Labels: api

updated readme
  api/README.md
Labels: api

updated readme
  api/README.md
Labels: api

fix auth
  api/.env.example
  api/README.md
  api/package-lock.json
  api/package.json
  api/src/app.module.ts
  api/src/auth/auth.controller.ts
  api/src/auth/auth.model.ts
  api/src/auth/auth.service.ts
  api/src/auth/device/device.entity.ts
  api/src/auth/device/device.service.ts
  api/src/auth/token/token.service.ts
  api/src/auth/users/user.dto.ts
  api/src/auth/users/user.entity.ts
  api/src/auth/users/users.service.ts
  api/src/config/data-base.config.ts
  api/src/config/data-source.config.ts
Labels: api

update auth workflow
  api/src/app.module.ts
  api/src/auth/auth.controller.ts
  api/src/auth/auth.guard.ts
  api/src/auth/auth.service.ts
  api/src/auth/device/device.service.ts
  api/src/auth/token/refresh-token.entity.ts
  api/src/auth/token/token-config.service.ts
  api/src/auth/token/token.module.ts
  api/src/auth/token/token.service.ts
  api/src/common/middleware/context.middleware.ts
  api/src/common/middleware/request-context.service.ts
  api/src/config/swagger.config.ts
Labels: api

update swagger doc
  api/src/app.controller.spec.ts
  api/src/app.controller.ts
  api/src/app.module.ts
  api/src/auth/auth.controller.ts
  api/src/auth/auth.model.ts
  api/src/auth/auth.service.ts
  api/src/auth/token/token.service.ts
  api/src/auth/users/user.dto.ts
  api/src/modules/analysis/analysis.controller.ts
  api/src/modules/analysis/rules/result.dto.ts
  api/src/modules/portfolio/dtos/asset.dto.ts
  api/src/modules/portfolio/dtos/portfolio.dto.ts
  api/src/modules/portfolio/dtos/price.dto.ts
  api/src/modules/portfolio/portfolio.controller.ts
  api/test/app.e2e-spec.ts
Labels: api

add error message
  api/src/common/errors/http-exception.filter.ts
Labels: api

added CROS config
  api/.env.example
  api/src/app.module.ts
  api/src/config/app.config.ts
  api/src/config/cors.config.ts
  api/src/main.ts
Labels: api

.github/labeler.yml:

api:
  - changed-files:
    - any-glob-to-any-file: 'api/**'

web:
  - changed-files:
    - any-glob-to-any-file: "client/**"

repo-config:
  - changed-files:
    - any-glob-to-any-file: ".github/**"
